eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  jpa:
    hibernate:
      ddl-auto: create
      show-sql: true
	database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: jdbc:mysql://localhost:3306/restaurantdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver